.general {
    font-family: Arial;
}
html { 
  background-image: url(BG.png);
  background-repeat:no-repeat;
}
.imgplace {
    margin-left:-102%;
   margin-top:-38%; 
}
.imgplace2 {
    margin-left:100%;
    margin-top:-14%;
}
h1 {
    font-size: 3em;
    text-decoration: underline;
}
.h2change {
    font-size:2em;
    margin-top: -5px;
}

.general { font-family:Arial; 
 background-color:white;
    width:70%;
    margin-left:15%;
}
.navcenter {
   margin-left:38%;
   padding-top:30px;
}
    
.rowcenter {
    margin-left:17%;
    text-align:center;
}
    
.pbuffer {
    padding-bottom: 15px;
}

.piccenter {
    margin-left: -20%;
}

.placeholder {
    padding-bottom: 521px;
}

.placeholder2 {
    padding-bottom: 110px;
}

.placeholder3 {
    padding-bottom:451px;
}