#cssmenu {
  zoom: 1;
  width: auto;
  padding: 8px 0;
}

#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu ul {
  list-style-type: none;
  position: relative;
  display: block;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(64, 64, 64);
  zoom: 1;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu li a {
  float: left;
  color: white;
  text-decoration: none;
  height: 24px;
  padding: 9px 15px 0;
  font-weight: normal;
}
#cssmenu li:hover,
#cssmenu .active {
  text-decoration: none;
}
#cssmenu li:hover a {
  color: rgb(130,130,130);
}
#cssmenu .active a {
  color: #fff;
  font-weight: 700;
}
